Repository giga-b/wordpress-semgrep-rules: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-syntax-check, wordpress-config-validation, wordpress-rule-validation

php-syntax-check:
  name: PHP Syntax Check
  description: Check PHP syntax for errors
  entry: bash -c 'for file in "$@"; do php -l "$file" || exit 1; done'
  language: system

wordpress-config-validation:
  name: WordPress Config Validation
  description: Validate WordPress Semgrep configuration files
  entry: python tooling/validate-configs.py
  language: python
  additional_dependencies:
  - PyYAML>=6.0

wordpress-rule-validation:
  name: WordPress Rule Validation
  description: Validate Semgrep rule syntax and structure
  entry: python tooling/validate-rules.py
  language: python
  additional_dependencies:
  - PyYAML>=6.0

feat: Complete repository cleanup and organization
  .github/workflows/security-scan.yml
  .gitignore
  CACHING-SYSTEM-IMPLEMENTATION-SUMMARY.md
  COMPREHENSIVE-PERFORMANCE-TESTING-SUMMARY.md
  INCREMENTAL-SCANNING-IMPLEMENTATION-SUMMARY.md
  PERFORMANCE-OPTIMIZATION-SUMMARY.md
  PRODUCTION-DOCUMENTATION-SUMMARY.md
  README.md
  SECURITY-AUDIT-SUMMARY.md
  SECURITY-IMPROVEMENTS-SUMMARY.md
  dashboard/admin-dashboard.png
  dashboard/capture-screenshots.py
  dashboard/favicon.ico
  dashboard/favicon.svg
  dashboard/generate-placeholder-images.py
  dashboard/index.html
  dashboard/user-dashboard.html
  dashboard/user-dashboard.png
  docs/SECURITY-CONSIDERATIONS.md
  metrics.db
  optimized-15s-results.json
  optimized-30s-results.json
  optimized-test-results.json
  performance-baseline.json
  performance-optimization-report.json
  performance-test-basic.json
  performance-test-plugin-development.json
  performance-test-strict.json
  safe-test-results.json
  semgrep-results.json
  t
  tasks.json
  test-basic.json
  test-plugin-dev.json
  test-results.json
  test-strict.json
Due: none

Clean up repository: Remove internal development files and update documentation references
  .github/ISSUE_TEMPLATE/config.yml
  .github/config.yml
  README.md
  docs/API-REFERENCE.md
  docs/DEVELOPMENT-GUIDE.md
  docs/PRD-WordPress-Semgrep-Rules-Development.md
  docs/README.md
  docs/performance-testing-guide.md
  setup-pre-commit.ps1
  setup-pre-commit.sh
  tooling/generate-tasks.py
Due: none

Add prominent VS Code extension section and update dashboard image descriptions
  README.md
Due: none

Replace placeholder dashboard images with real PressGuard screenshots
  dashboard/admin-dashboard.png
  dashboard/user-dashboard.png
Due: none

Add PressGuard icons for VS Code extension and update README with icon display
  README.md
  dashboard/ICONS-README.md
  dashboard/convert-icons.py
  dashboard/icon-128.png
  dashboard/icon-128.svg
  dashboard/icon-256.png
  dashboard/icon-256.svg
Due: none

Add comprehensive Cursor extension section to README with detailed features and benefits
  README.md
Due: none

fix: Resolve GitHub Actions security scan failures by excluding test directories
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-rules.yml
  README.md
  USAGE-GUIDE.md
  cursor-extension/README.md
  cursor-extension/package.json
  cursor-extension/resources/icon-128.png
  cursor-extension/resources/icon.svg
  dashboard/admin-dashboard.html
  dashboard/capture-screenshots.py
  dashboard/convert-icons.py
  dashboard/index.html
  dashboard/user-dashboard.html
  docs/metrics-dashboard-guide.md
  vscode-extension/resources/icon.svg
Due: none

feat: Replace logos with new PressGuard branding
  README.md
  dashboard/ICONS-README.md
  dashboard/capture-screenshots.py
  dashboard/cursor-logo.png
  dashboard/favicon.ico
  dashboard/favicon.svg
  dashboard/generate-placeholder-images.py
  dashboard/icon-128.png
  dashboard/icon-128.svg
  dashboard/icon-256.png
  dashboard/icon-256.svg
Due: none

fix: Update VS Code section to use correct PressGuard logo
  README.md
  dashboard/vscode-logo.png
Due: none

fix: Resolve GitHub Actions test failures by fixing experimental rule syntax
  .github/workflows/test-rules.yml
  packs/experimental/advanced-obfuscation-rules.yaml
Due: wordpress-rule-validation

fix: Restore experimental rules functionality with proper syntax fixes
  .github/workflows/test-rules.yml
  packs/experimental/advanced-obfuscation-rules.yaml
Due: wordpress-rule-validation

fix: Update deprecated GitHub Actions to v4 versions
  .github/workflows/security-scan.yml
Due: none

Update README.md file with link for users to submit issues
  README.md
Due: none

README.md file fix issues badge link
  README.md
Due: none

README.md fix issue image link
  README.md
Due: none

README.md styling change for issue image badge
  README.md
Due: none

Add vscode extension static badge and link
  README.md
Due: none

README.md update - vscode and cursor extensions
  README.md
Due: none

README.md vscode badge update
  README.md
Due: none

Task 1.1: Complete development environment setup and automated testing framework
  .gitignore
  TASK_MANAGEMENT.md
  packs/wordpress.nonce.verification.yaml
  packs/wordpress.xss.unescaped-output.yaml
  tests/test-cases/nonce-verification.php
  tests/test-cases/xss-prevention.php
  tooling/test-framework.py
Due: php-syntax-check, wordpress-rule-validation

Week 1-2: Complete foundation setup and implementation summary
  IMPLEMENTATION_SUMMARY.md
  TASK_MANAGEMENT.md
Due: none

Complete Task 1.4: Cross-File Analysis Implementation
  .gitignore
  TASK_MANAGEMENT.md
  docs/cross-file-analysis-implementation.md
  packs/wp-core-security/ajax-action-detection.yaml
  packs/wp-core-security/ajax-action-registration.yaml
  packs/wp-core-security/ajax-callback-functions.yaml
  packs/wp-core-security/callback-function-tracing.yaml
  packs/wp-core-security/cross-file-nonce-analysis-working.yaml
  packs/wp-core-security/cross-file-nonce-analysis.yaml
  packs/wp-core-security/nonce-creation-detection.yaml
  packs/wp-core-security/nonce-verification-detection.yaml
  results/cross-file-analysis/cross-file-analysis-report.md
  results/cross-file-analysis/cross-file-analysis-results.json
  tatus
  tests/cross-file-analysis-test.py
  tests/cross-file-test-cases/cross-file-nonce-safe-callbacks.php
  tests/cross-file-test-cases/cross-file-nonce-safe.php
  tests/cross-file-test-cases/cross-file-nonce-vulnerable-callbacks.php
  tests/cross-file-test-cases/cross-file-nonce-vulnerable.php
Due: php-syntax-check, wordpress-rule-validation

feat: Complete Task 1.5 Nonce Lifecycle Detection Rules with comprehensive implementation
  README.md
  TASK_MANAGEMENT.md
  docs/cross-file-analysis-overview.md
  docs/cross-file-analysis-setup.md
  docs/cross-file-analysis-usage.md
  docs/nonce-lifecycle-detection.md
  packs/wp-core-security/nonce-lifecycle-detection.yaml
  results/cross-file-analysis/enhanced-cross-file-analysis-report.md
  results/cross-file-analysis/enhanced-cross-file-analysis-results.json
  setup-cross-file-analysis.py
  tests/safe-examples/nonce-lifecycle-safe.php
  tests/test-cross-file-analysis.py
  tests/test-nonce-lifecycle-detection.py
  tests/test-results/nonce-lifecycle-test-report.json
  tests/vulnerable-examples/nonce-lifecycle-vulnerable.php
Due: php-syntax-check, wordpress-rule-validation

experimental: add ASCII/UTF-8 no BOM control rule xss-control-echo-get; fix rule syntax; add taint core; update taint pack; ensure spot-checks 1/0; run advanced suite green; artifacts saved
  packs/experimental/xss-control-echo-get.yaml
  packs/experimental/xss-taint-core.yaml
  packs/experimental/xss-taint-rules.yaml
  tests/spot-checks/xss-taint-safe-spot.php
  tests/spot-checks/xss-taint-vuln-spot.php
Due: php-syntax-check, wordpress-rule-validation

docs(tasks): mark Task 1.6.5 done; update progress and notes with benchmark artifacts
  TASK_MANAGEMENT.md
Due: none

docs(tasks): complete Task 1.6; mark 1.6.3 and 1.6.4 done with verified Semgrep scans; reference benchmark CSV path
  TASK_MANAGEMENT.md
Due: none

rules(upload): add file-type validation (missing allowlist) and unsafe move checks; fix safe upload pattern parsing; mark 1.7.1 done
  TASK_MANAGEMENT.md
  packs/wp-core-security/ajax-file-upload-test.yaml
  packs/wp-core-security/file-type-validation.yaml
Due: wordpress-rule-validation

rules(upload): refine missing-type-allowlist exemptions to match exact safe patterns; ensure vuln wp_handle_upload flagged; safe fixtures clean
  packs/wp-core-security/file-type-validation.yaml
Due: wordpress-rule-validation

chore: stage modified tracked files (rules/tests); keep results/ artifacts untracked
  packs/wp-core-security/ajax-security.yaml
  tests/advanced-testing-framework.py
  tests/comprehensive-performance-test.py
Due: wordpress-rule-validation

perf(Task 1.9): complete performance optimization
  TASK_MANAGEMENT.md
  configs/basic.yaml
  configs/plugin-development.yaml
  configs/strict.yaml
  tests/performance-benchmarks.py
Due: wordpress-config-validation

feat: Implement function-level scoping for file upload suppressions (Task 3.7.1)
  TASK_MANAGEMENT.md
  packs/wp-core-security/file-upload-generic.yaml
  packs/wp-curated-generic/file-upload-generic.yaml
Due: wordpress-rule-validation

Fix encoding issues and complete Task 3.8 remediation guidance
  TASK_MANAGEMENT.md
  packs/wp-core-security/ajax-nonce-generic.yaml
  packs/wp-core-security/ajax-security.yaml
  packs/wp-core-security/file-type-validation.yaml
  packs/wp-core-security/file-upload-generic.yaml
  packs/wp-curated-generic/ajax-nonce-generic.yaml
  packs/wp-curated-generic/file-upload-generic.yaml
  tests/basic-quality-check.py
Due: wordpress-rule-validation

feat: Complete Task 3.9 Performance Cleanup with regression fix
  TASK_MANAGEMENT.md
  packs/wp-core-security/file-type-validation.yaml
  packs/wp-core-security/file-upload-generic.yaml
  packs/wp-curated-generic/file-upload-generic.yaml
  tests/safe-examples/wordpress-media-handlers-safe.php
  tests/test-config.json
  tests/vulnerable-examples/wordpress-media-handlers-vuln.php
Due: php-syntax-check, wordpress-rule-validation

Path conditions:
  php-syntax-check: any of: \.php$, but not: (?x)^(
    tests/vulnerable-examples/|
    tests/safe-examples/|
    vendor/|
    node_modules/
)$

  wordpress-config-validation: any of: ^configs/.*\.yaml$
  wordpress-rule-validation: any of: ^packs/.*\.yaml$
